<% provide(:title, 'Campground') %>



<div class="jumbotron bus-jumbo">
  <div class="container">
  <h1>
    Roberts Corey Lake Campground
  </h1>
  <p>Enjoy peaceful camping in southwest Michigan at Roberts Corey Lake Campground in Three Rivers, MI. Located on Corey Lake, we offer a comfortable get-away from the everyday busy life.
    Sites are available for campers and RVs only. We do not offer tent camping. Each site comes with water, sewer, and electric (50 and 30 AMP) connections.
    700ft of beach front is available for swimming, fishing, and boating. Dock sites are available to rent for the season.
    A recreational building is availble for guests which includes full service bathrooms and showers.</p>
  </div>
</div>




<div class="container bus-page-content">





  <!-- Marketing Icons Section -->
  <div class="row row-top wow fadeIn" data-wow-delay="0.0s">



    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" id="panel">
          <h4><i class="fa fa-fw fa-tree"></i>Camping </h4>
        </div>
        <div class="panel-body">
          <p>Camp sites available for campers and RVs. Full hook-ups provided (electric, water, sewer) </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" id="panel">
          <h4><i class="fa fa-fw fa-ship"></i>Fishing and Boating</h4>
        </div>
        <div class="panel-body">
          <p>Enjoy swimming, fishing, and boating on Corey Lake. Dock sites available</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" id="panel">
          <h4><i class="fa fa-fw fa-compass"></i>Location</h4>
        </div>
        <div class="panel-body">
          <p>Located in Three Rivers, MI. Dates of operation are April 15th through October 15th </p>

        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->



  <div class="row wow fadeIn" data-wow-delay="0.0s">
    <div class="col-lg-12">
      <h2 class="page-header" >Amenities</h2>
    </div>
    <div class="col-md-6">
      <p>The Campground includes:</p>
      <ul>
        <li>Full hook-ups for campers and RVs</li>
        <li>Swimming beach</li>
        <li>Dock Rental</li>
        <li>Recreational room with full service restrooms and showers</li>
        <li>Basketball court</li>
        <li>Walking trails</li>

      </ul>
      <p>Enjoy comfortable camping on one of the larger lakes in southwest Michigan. View below for a full list of services and rates.</p>




    </div>
    <div class="col-md-6">
      <%= image_tag "logo.png", :class => "img-fluid" %>
    </div>
  </div>





  <!-- Portfolio Section -->
  <div class="row wow fadeIn" data-wow-delay="0.0s">

    <div class="col-md-4 col-sm-6">
      <a href="#">
        <img class="img-responsive img-portfolio img-hover" src="#" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="#">
        <img class="img-responsive img-portfolio img-hover" src="#" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="#">
        <img class="img-responsive img-portfolio img-hover" src="#" alt="">
      </a>
    </div>

  </div>
  <!-- /.row -->



  <!-- Service Panels -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <div class="row wow fadeIn" data-wow-delay="0.0s">
    <div class="col-lg-12">
      <h2 class="page-header">Services and Amenities</h2>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse" ></i>
                        </span>
        </div>
        <div class="panel-body">
          <h4>Camping</h4>
          <p>Sites for Campers and RVs</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-life-bouy fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="panel-body">
          <h4>Swimming</h4>
          <p>700ft of beachfront great for swimming</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-ship fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="panel-body">
          <h4>Fishing and Boating</h4>
          <p>Dock sites available for seasonal rent</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-shower fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="panel-body">
          <h4>Showers and Facilities</h4>
          <p>Recreational building with full services bathrooms and showers</p>
        </div>
      </div>
    </div>
  </div>



  <!-- Service List -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <div class="row wow fadeIn" data-wow-delay="0.0s">
    <div class="col-lg-12">
      <h2 class="page-header">Service List</h2>
    </div>
    <div class="col-md-4">
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Camping</h4>
          <p>All camp sites are available for campers and RVs only, and provide water, sewer, and electric hook ups.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-life-bouy fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Swimming</h4>
          <p>Enjoy swimming in Corey Lake with 700ft of beachfront.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-ship fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Fishing and Boating</h4>
          <p>Seasonal dock rentals are available for boats and jetskis. Outdoor trailer storage is available.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-shower fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Showers</h4>
          <p>Our recreational building includes showers and full service bathrooms for campers.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-paw fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Walking Trails</h4>
          <p>Enjoy scenic walking trails off the beaten path.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-spinner fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Basketball Court</h4>
          <p>Play games or shoot for fun on our basketball court.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Fish Shack</h4>
          <p>Clean fish at the campground with ease in our fish cleaning house.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Campfires</h4>
          <p>After a day on the lake, relax by a campfire under the stars.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Garbage Disposal</h4>
          <p>Weekly garbage disposal with cans throughout the campground.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <hr>


  <div class="row">
    <div class="col-lg-12">
      <h2><i class="fa fa-tree"></i>Camping Rates</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Day Rate</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>$</sup>35<sup>00</sup></span>
          <span class="period">per day</span>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Week Rate</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>$</sup>200<sup>00</sup></span>
          <span class="period">per week</span>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Month Rate</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>$</sup>600<sup>00</sup></span>
          <span class="period">per month</span>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Season Rate</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>$</sup>1950<sup>00</sup></span>
          <span class="period">per season</span>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <h2><i class="fa fa-ship"></i>Dock Rates</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Day Rate</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>$</sup>10<sup>00</sup></span>
          <span class="period">per day</span>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Week Rate</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>$</sup>35<sup>00</sup></span>
          <span class="period">per week</span>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Month Rate</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>$</sup>200<sup>00</sup></span>
          <span class="period">per month</span>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Season Rate</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>$</sup>650<sup>00</sup></span>
          <span class="period">per season</span>
        </div>
      </div>
    </div>
  </div>
























  <hr>

  <!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <p>For more information on camping at Roberts Corey Lake Campground, contact us by phone or e-mail.</p>
      </div>
      <div class="col-md-4">


        <%= link_to 'Contact', contact_path, class: "btn btn-lg btn-default btn-block"  %>
      </div>
    </div>
  </div>

  <hr>





</div>



