<% provide(:title, 'Campground') %>



<div class="view hm-indigo-light jarallax-camp" data-jarallax='{"speed": 0.2}'>

    <div class="container">


  <div class="row wow fadeIn" data-wow-delay="0.2s">
    <div class="col-md-12 mt-5">
      <h2 class="h1-responsive font-bold">
        Roberts Corey Lake Campground
        <small class="text-muted">Three Rivers, MI </small>
      </h2>
    </div>
  </div>

  <hr>

  <!--First row-->
  <div class="row mt-5 wow fadeIn" data-wow-delay="0.2s">
    <!--Featured image-->
    <div class="col-lg-7">
      <div class="view overlay hm-white-light z-depth-1 rounded">

        <%= image_tag "logo2.png", :class => "img-fluid" %>


        <div class="mask waves-effect waves-light"></div>

      </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-5">
      <a href="#!">
        <h2 class="post-title font-bold">About the Campground</h2>
      </a>
      <h6 class="dark-grey-text font-bold font-small">3/06/2018</h6>
      <p class="my-4 dark-grey-text">Enjoy peaceful camping in southwest Michigan at Roberts Corey Lake Campground in Three Rivers, MI. Located on Corey Lake, we offer a comfortable get-away from the everyday busy life.
        Sites are available for campers and RVs only. We do not offer tent camping. Each site comes with water, sewer, and electric (50 and 30 AMP) connections. 700ft of beach front is available for swimming, fishing, and boating. Dock sites are available to rent for the season.
        A recreational building is availble for guests which includes full service bathrooms and showers.</p>
      <div class="read-more">
        <a href="#!" class="btn btn-primary btn-md">Read more</a>
      </div>
    </div>
    <!--/.Post excerpt-->
  </div>

  <hr>



    </div>



</div>