<% provide(:title, 'Campground') %>





<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12" id="panelBG">
      <h1 class="page-header" align="center">
        Roberts Corey Lake Campground
      </h1>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" id="panel">
          <h4 align="center"> Camping </h4>
        </div>
        <div class="panel-body">
          <p>Camp sites available for campers and RVs. Full hook-ups provided (electric, water, sewer) </p>
          <a href="#" class="btn btn-default" id="servBtn" >Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" id="panel">
          <h4 align="center"> Fishing and Boating</h4>
        </div>
        <div class="panel-body">
          <p>Enjoy swimming, fishing, and boating on Corey Lake. Dock sites available</p>
          <a href="#" class="btn btn-default" id="servBtn">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" id="panel">
          <h4 align="center"> Location</h4>
        </div>
        <div class="panel-body">
          <p>Located in Three Rivers, MI. Dates of operation are April 15th through October 15th </p>
          <a href="#" class="btn btn-default" id="servBtn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->



  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header" >Amenities</h2>
    </div>
    <div class="col-md-6">
      <p>The Campground includes:</p>
      <ul>
        <li>Full hook-ups for campers and RVs</li>
        <li>Swimming beach</li>
        <li>Dock Rental</li>
        <li>Recreational room with full service restrooms and showers</li>
        <li>Basketball court</li>
        <li>Walking trails</li>

      </ul>
      <p>Enjoy comfortable camping on one of the larger lakes in southwest Michigan. Click below for a full list of services and rates.</p>

      <div class="row">

        <div class="col-md-12">
          <a class="btn btn-lg btn-default btn-block "  id="servBtn"  href="#">Services and Rates</a>
        </div>
      </div>


    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="logo2.png" alt="">
    </div>
  </div>
</div>