<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<div class="col-md-4">
  <h3>Contact Details</h3>
  <p>
    10705 Corey Lake Rd<br>Three Rivers, MI 49093<br>
  </p>
  <p>
    Phone: (269) 244-8214
  </p>
  <p>
    Email: <a href="mailto:name@example.com">rcampground@robertscampground.com</a>
  </p>
</div>