<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <h1>Welcome to Roberts Enterprise</h1>

  <h2>
    This is the home page
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<div class="col-xs-12 text-center">
  <div class="col-xs-3">

    <button class="btn-img">
      <div class="img-wrap">
        <%= image_tag("campground.png", :alt => "rss feed") %>
      </div>
    </button>
  </div>
  <div class="col-xs-3">

    <button class="btn-img">
      <div class="img-wrap">
        <%= image_tag("mobilehomepark.png", :alt => "rss feed") %>
      </div>
    </button>
  </div>

  <div class="col-xs-3">

    <button class="btn-img">
      <div class="img-wrap">
        <%= image_tag("estatepark.png", :alt => "rss feed") %>
      </div>
    </button>
  </div>
</div>

