<% provide(:title, 'Home') %>



<div class="view home-bg jarallax " data-jarallax='{"speed": 0.2}' id="success">
  <div class="full-bg-img">
    <div class="container flex-center">


      <div class="row pt-5 mt-3">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="h1-responsive introfont font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
              <strong>Roberts Corey Lake Campground</strong>
            </h1>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">

            <h5 class="font-up mb-5 introfont wow fadeInDown" data-wow-delay="0.4s">
              <strong>Three Rivers, Michigan</strong>
            </h5>

            <ul class="list-inline intro-social-buttons">
              <li class="inline-btn wow zoomInUp">
                <%= link_to campground_path, class: 'btn btn-default btn-lg' do  %>
                  <i class="fa fa-tree fa-fw"></i>
                  <span class="network-name">Campground Information</span>
                <% end %>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
