<% provide(:title, 'Home') %>

<a name="about"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Roberts Enterprise</h1>
          <h3>Three Rivers, Michigan</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <%= link_to campground_path, class: 'btn btn-default btn-lg' do  %>
                <i class="fa fa-tree fa-fw"></i>
                <span class="network-name">Campground</span>
                <% end %>
            </li>
            <li>
              <%= link_to mobilehome_path, class: 'btn btn-default btn-lg' do  %>
                <i class="fa fa-home fa-fw"></i>
                <span class="network-name">Mobile Home Park</span>
              <% end %>
            </li>
            <li>
              <%= link_to estatepark_path, class: 'btn btn-default btn-lg' do  %>
                <i class="fa fa-globe fa-fw"></i>
                <span class="network-name">Estate Park</span>
              <% end %>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

