<% provide(:title, 'Mobile Home Park') %>



<div class="jumbotron bus-jumbo">
  <div class="container">
    <h1 class="bus-title">
      The Village Mobile Home Court
    </h1>
    <p>
      Founded in 1968, Village Mobile Home Court is located at 121 S Erie St, Three Rivers, MI and
      specializes in mobile home site operations.
    </p>
  </div>
</div>

<div class="container bus-page-content">


  <!-- Marketing Icons Section -->
  <div class="row row-top wow fadeIn" data-wow-delay="0.0s">



    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="panel">
          <h4><i class="fa fa-fw fa-home"></i>Housing </h4>
        </div>
        <div class="panel-body">
          <p>The Village offers mobile home lots available for lease </p>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="panel">
          <h4><i class="fa fa-fw fa-compass"></i>Location</h4>
        </div>
        <div class="panel-body">
          <p>Conveniently located near downtown Three Rivers, W Michigan Ave has much to offer within walking distance.  </p>

        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->



  <div class="row wow fadeIn" data-wow-delay="0.0s">
    <div class="col-lg-12">
      <h2 class="page-header" >Amenities</h2>
    </div>
    <div class="col-md-6">
      <p>The Village includes:</p>
      <ul>
        <li>Weekly garbage pickup</li>
        <li>Affordable rates</li>
        <li>Winter snow plowing</li>
        <li>Walking distance to businesses off W Michigan Ave</li>
        <li></li>

      </ul>
      <p>Enjoy comfortable living near downtown Three Rivers </p>




    </div>
    <div class="col-md-6">
      <h2>Village Mobile Home Court </h2>
      <h4> 121 S Erie St
        Three Rivers MI 49093</h4>
        <h3>(269) 278-2285</h3>
    </div>
  </div>





  <!-- Portfolio Section -->
  <div class="row wow fadeIn" data-wow-delay="0.0s">

    <div class="col-md-4 col-sm-6">
      <a href="#">
        <img class="img-responsive img-portfolio img-hover" src="#" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="#">
        <img class="img-responsive img-portfolio img-hover" src="#" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="#">
        <img class="img-responsive img-portfolio img-hover" src="#" alt="">
      </a>
    </div>

  </div>
  <!-- /.row -->



  <!-- Service Panels -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <div class="row wow fadeIn" data-wow-delay="0.0s">


    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-home fa-stack-1x fa-inverse" ></i>
                        </span>
        </div>
        <div class="panel-body">
          <h4>Housing</h4>
          <p>Lots for mobile homes and single-wide trailers</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="panel-body">
          <h4>Services</h4>
          <p>Weekly garbage pick-up and winter snow plowing</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="panel-body">
          <h4>Location</h4>
          <p>Walking distance to W Michigan Ave and Downtown</p>
        </div>
      </div>
    </div>

  </div>

  <hr>



  <!-- Service List -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <div class="row wow fadeIn" data-wow-delay="0.0s">
    <div class="col-lg-12">
      <h2 class="page-header">Within Walking Distance</h2>
    </div>

    <div class="col-md-4">
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body align-self-center">
          <h5 class="media-heading">Andrews Elementary School</h5>

        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body align-self-center">
          <h5 class="media-heading">Three Rivers Public Library</h5>

        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body align-self-center">
          <h5 class="media-heading">Harding's</h5>

        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body align-self-center">
          <h5 class="media-heading">Maytag Coin Laundry</h5>

        </div>
      </div>
    </div>


  <div class="col-md-4">
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body align-self-center">
        <h5 class="media-heading">Food</h5>

      </div>
    </div>

    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #c0b283"></i>
                              <i class="fa fa-camera-retro fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body align-self-center">
        <h4 class="media-heading">Family Video</h4>

      </div>
    </div>
  </div>












  </div>
  <!-- /.row -->

  <hr>


  <div class="row fadeIn" data-wow-delay="0.0s">
    <div class="col-lg-12">
      <h2>Lease Rates</h2>
    </div>
  </div>

  <div class="row fadeIn" data-wow-delay="0.0s">
    <div class="col-md-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Month Rate</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>$</sup>200<sup>00</sup></span>
          <span class="period">per month</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Year Rate</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>$</sup>2000<sup>00</sup></span>
          <span class="period">per year</span>
        </div>
      </div>
    </div>


  </div>





  <hr>

  <div id="map-container-village" class="z-depth-1-half" style="height: 500px"></div>

  <hr>


  <!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <p>For more information on leasing at the Village Mobile Home Court, contact us by phone or e-mail.</p>
      </div>
      <div class="col-md-4">

        <%= link_to 'Contact', contact_path, class: "btn btn-lg btn-default btn-block"  %>
      </div>
    </div>
  </div>

  <hr>





</div>





