<% provide(:title, "Forgot password") %>

<div class="container">
  <div class="row wow fadeIn " data-wow-delay="0.2s">
    <div class="col-md-12 mt-5">
      <h2 class="h1-responsive font-bold">Forgot password</h2>
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.submit "Submit", class: "btn btn-primary btn-default btn-lg" %>
      <% end %>
    </div>
  </div>
</div>