<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>




<% content_for :content do %>

  <div id="content">

    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
      Toggle Sidebar
    </button>

    <h2> Update Profile</h2>
    <%= render 'form' %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>

    <div class="line"></div>




  </div>


<% end %>
