<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>




<% content_for :content do %>

  <div id="content">

    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
      Toggle Sidebar
    </button>

    <div class="container">

      <h2 class="h1-responsive font-bold login-top">Update Profile</h2>

      <div class="row wow Fadein" data-wow-delay="0.2s">
        <div class="col-md-12 col-md-offset-3">


    <%= render 'form' %>


    <div class="line"></div>
        </div>
      </div>
    </div>




  </div>


<% end %>
