<% provide(:title, 'All users') %>



<% content_for :content do %>

  <div id="content">

    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
      Toggle Sidebar
    </button>

    <h2>All users</h2>

    <%= will_paginate %>

    <ul class="users">
      <%= render @users %>
    </ul>

    <%= will_paginate %>

  </div>


<% end %>