<% provide(:title, @user.name) %>





<% content_for :content do %>

  <div id="content">

    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
      Toggle Sidebar
    </button>

    <h2> Hello, <%= @user.name %>!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="line"></div>


    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>

  </div>


<% end %>









