
<% if @post.errors.any? %>
  <div>
    <p><%= pluralize(@post.errors.count, "error") %> prevented this post from saving.</p>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>


          <div class="alert alert-danger" role="alert">

            <%= msg %>
          </div>





      <% end %>
    </ul>
  </div>
<% end %>