<% provide(:title, 'Edit Photo') %>


<div class="container">

  <div class="row wow fadeIn" data-wow-delay="0.2s">
    <div class="col-md-12 mt-5">
      <h2 class="h1-responsive font-bold">
        Edit Photo
      </h2>
    </div>
  </div>

<%= render 'form', album_item: @album_item %>


</div>