
<div class="container">

  <div class="row wow fadeIn" data-wow-delay="0.2s">
    <div class="col-md-12 mt-5">
      <hr>
      <h2 class="h1-responsive font-bold">
        <%= @album_item.title %>
      </h2>
      <hr>
    </div>
  </div>


<%= image_tag @album_item.main_image %>

<hr>