// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-container {

  height: 100vh;
  margin-top: 65px;




}


.blog-home {

  height: 100vh;
  margin-top: 65px;



}