// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-container {


  margin-top: 65px;




}

.blog-title {
  letter-spacing: normal !important;
  color: #0d47a1 !important;
}


.blog-home {

  height: 100vh;
  margin-top: 65px;



}


.card-post-show {

  width: 68% !important;

  margin-left: auto !important;
  margin-right: auto !important;
}



.post-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}