

footer.page-footer {
  background-color: #373737;
  margin-top: 0;
}

.top-nav-collapse {
  background-color: #373737 !important;
}

.navbar:not(.top-nav-collapse) {
  background-color: #373737 !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #373737 !important;
  }

  .navbar-collapse.collapse.in {
    display: block!important;
  }

}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #373737;
  width: 80px;
}

@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}

.full-height,
.full-height body,
.full-height header,
.full-height header .view,
.full-height .view{
  height: 99%;
}

.inline-btn {
  display: inline-block;
}

.login-top {
  margin-top: 100px;
}


.home-bg .mask,
.home-bg .full-bg-img {
  background-color: #f4f4f4;
}

.btn-default {
  background-color: #c0b283 !important;
  color: #fff !important; }
.btn-default:hover {
  background-color: rgba(192, 178, 131, 0.75) !important; }
.btn-default:focus, .btn-default:active, .btn-default.active {
  background-color: #c0b283; }
.btn-default.dropdown-toggle {
  background-color: rgb(192, 178, 131) !important; }
.btn-default.dropdown-toggle:hover, .btn-default.dropdown-toggle:focus {
  background-color: #c0b283 !important; }
.btn-default:not([disabled]):not(.disabled):active, .btn-default:not([disabled]):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
  background-color: #c0b283 !important; }

.introfont {
  color: #373737;
}

.font-up {
  text-transform: uppercase; }

.view {
  overflow: hidden;
  position: relative;
  cursor: default; }
.view .mask {
  background-attachment: fixed; }
.view .mask,
.view .full-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }
.view img, .view video {
  display: block;
  position: relative; }




p {
  line-height: 1.6rem;
}

.font-small {
  font-size: 0.9rem;
}