


<footer class="page-footer center-on-small-only ">

  <div class="container">

    <div class="row my-4">

      <div class="col-lg-3 col-md-6">
        <p>
          <%= link_to "Home",   root_path %>
        </p>
      </div>

      <hr class="w-100 clearfix d-sm-none">

      <div class="col-lg-2 col-md-6 ml-auto ">
        <p>
          <%= link_to "About",   about_path %>
        </p>
      </div>

      <hr class="w-100 clearfix d-sm-none">

      <div class="col-lg-2 col-md-6 ml-auto ">
        <p>
          <%= link_to "Contact",   contact_path %>
        </p>
      </div>

      <hr class="w-100 clearfix d-sm-none">

      <div class="col-lg-2 col-md-6 ml-auto ">
        <p>
          <%= link_to "Help",   help_path %>
        </p>
      </div>

    </div>

  </div>



  <!--Copyright-->
  <div class="footer-copyright">
    <div class="containter-fluid">
      © 2018 Copyright:
      Roberts Enterprise
    </div>
  </div>
</footer>